.NavHeader {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background-color: #ff0100;
  li {
    padding: 10px;
    display: inline-block;
    a {
      color: #fff;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}