.VideoItem {
  @media only screen and (max-width: 640px) {
    max-width: 50%;
  }
  max-width: 25%;
  padding: 10px;
  text-align: left;
  display: inline-block;
  box-sizing: border-box;

  a {
    color: #000;
    text-decoration: none;
  }
  &:hover {
    background-color: #f3d1de;
  }
  .img {
    height: 100px;
    border-radius: 3px;
    position: relative;
    background-size: cover;
    background-position: center;
    &:before {
      right: 0;
      bottom: 0;
      padding: 5px 10px;
      color: #fff;
      display: block;
      font-size: 12px;
      position: absolute;
      background-color: #000;
      content: attr(data-duration);
    }
  }
  .title {
    font-weight: bold;
    width: 100%;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .description {
    width: 100%;
    color: #777;
    font-size: 13px;
    max-height: 50px;
    overflow: hidden; 
    text-overflow: ellipsis;
  }

  .favorited {
    color: #fff;
    padding: 5px 10px;
    background-color: #ff0100;
  }

  .btn {
    padding: 5px 10px;
    border: 1px solid #666;
    background-color: #fff;
  }
}